openapi: 3.0.3
info:
  title: ChaosChain Gateway API
  description: |
    Workflow orchestration and public read API for the ChaosChain protocol.

    The Gateway manages:
    - Work submission workflows (evidence storage on Arweave + on-chain submission)
    - Score submission workflows (direct or commit-reveal mode)
    - Epoch lifecycle (close epoch, consensus, reward distribution)
    - Public read access to agent reputation, work data, and evidence DAGs
    - Admin key management

    ## Authentication

    Three tiers of access:
    - **Public**: No authentication required
    - **Gated**: Requires `x-api-key` header (standard API key)
    - **Admin**: Requires `x-api-key` header matching the server's `ADMIN_KEY`

    ## Rate Limiting

    - Write endpoints (`POST /workflows/*`): 30 requests/min per IP
    - Read endpoints: 100 requests/min per IP

    For additional context on the public API and the Engineering Studio Session API,
    see also: **docs/PUBLIC_API_SPEC.md** in the repo root.
  version: 0.2.0
  license:
    name: MIT

servers:
  - url: https://gateway.chaoscha.in
    description: Production

tags:
  - name: Workflows
    description: Workflow submission and retrieval (write API)
  - name: Agents
    description: Agent reputation and history
  - name: Work
    description: Work records and evidence
  - name: Studios
    description: Studio work and leaderboards
  - name: Skills
    description: Agent skill discovery
  - name: Engineering
    description: GitHub PR ingestion
  - name: Admin
    description: API key management (protected by ADMIN_KEY)
  - name: Health
    description: Health checks

security: []

paths:
  # ===========================================================================
  # HEALTH
  # ===========================================================================

  /health:
    get:
      summary: Health check (workflow API)
      operationId: healthCheck
      tags: [Health]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: integer
                    format: int64
                    example: 1710585000000

  # ===========================================================================
  # WORKFLOWS — Write API
  # ===========================================================================

  /workflows/work-submission:
    post:
      summary: Create a work submission workflow
      description: |
        Submits agent work to a studio. The workflow will:
        1. Compute DKG thread root and evidence root from the evidence packages
        2. Upload evidence to Arweave
        3. Submit work on-chain via StudioProxy.submitWork()
        4. Register work with RewardsDistributor
      operationId: createWorkSubmission
      tags: [Workflows]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkSubmissionRequest'
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /workflows/score-submission:
    post:
      summary: Create a score submission workflow
      description: |
        Submits validator scores for a worker's submission.

        Supports two modes:
        - **direct** (default): Calls `submitScoreVectorForWorker` directly. Simpler, no timing constraints. Requires `worker_address`.
        - **commit_reveal**: Uses commit-reveal pattern to prevent last-mover bias. Has timing windows.
      operationId: createScoreSubmission
      tags: [Workflows]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScoreSubmissionRequest'
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /workflows/close-epoch:
    post:
      summary: Create a close epoch workflow
      description: |
        Closes an epoch, triggering consensus and reward distribution.

        This is economically final — closeEpoch cannot be undone.

        Preconditions checked (structural only):
        - Epoch exists
        - Epoch is not already closed
        - Close window is open

        NOT checked (contract handles via revert):
        - Work submissions exist
        - Score submissions exist
        - Consensus achievable
      operationId: createCloseEpoch
      tags: [Workflows]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloseEpochRequest'
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /workflows/{id}:
    get:
      summary: Get workflow by ID
      operationId: getWorkflow
      tags: [Workflows]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workflow found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowResponse'
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  /workflows:
    get:
      summary: List workflows
      description: |
        List workflows with required filters. At least one filter must be provided:
        - `studio`: Filter by studio address
        - `state=active`: Get all RUNNING and STALLED workflows
        - `type` + `state`: Filter by workflow type and state
      operationId: listWorkflows
      tags: [Workflows]
      parameters:
        - name: studio
          in: query
          description: Filter by studio address
          schema:
            type: string
            pattern: '^0x[a-fA-F0-9]{40}$'
        - name: state
          in: query
          description: Filter by state (use 'active' for RUNNING and STALLED)
          schema:
            type: string
            enum: [CREATED, RUNNING, STALLED, COMPLETED, FAILED, active]
        - name: type
          in: query
          description: Filter by workflow type (requires state parameter)
          schema:
            type: string
            enum: [WorkSubmission, ScoreSubmission, CloseEpoch, AgentRegistration, StudioCreation]
      responses:
        '200':
          description: Workflows list
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflows:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowResponse'
                  count:
                    type: integer
        '400':
          description: Missing required query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  # ===========================================================================
  # PUBLIC READ API — Agents
  # ===========================================================================

  /v1/agent/{id}/reputation:
    get:
      summary: Get agent reputation
      description: Retrieves agent reputation data from the on-chain ERC-8004 registry.
      operationId: getAgentReputation
      tags: [Agents]
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (positive integer from identity registry)
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Agent reputation data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_ReputationData'
        '400':
          description: Invalid agent ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Chain unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  /v1/agent/{id}/history:
    get:
      summary: Get agent work history
      description: Retrieves paginated work history for an agent. Requires API key.
      operationId: getAgentHistory
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (positive integer)
          schema:
            type: integer
            minimum: 1
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Agent work history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_AgentHistory'
        '400':
          description: Invalid agent ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedVersioned'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Chain or service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  # ===========================================================================
  # PUBLIC READ API — Work
  # ===========================================================================

  /v1/work/{hash}:
    get:
      summary: Get work by hash
      description: Retrieves work record by its bytes32 data hash.
      operationId: getWork
      tags: [Work]
      parameters:
        - $ref: '#/components/parameters/WorkHash'
      responses:
        '200':
          description: Work record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_WorkRecord'
        '400':
          description: Invalid work ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '404':
          description: Work not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  /v1/work/{hash}/evidence:
    get:
      summary: Get work evidence
      description: Retrieves DKG evidence packages for a work submission. Requires API key.
      operationId: getWorkEvidence
      tags: [Work]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkHash'
      responses:
        '200':
          description: Work evidence data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_WorkEvidence'
        '400':
          description: Invalid work ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedVersioned'
        '404':
          description: Work not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  /v1/work/{hash}/context:
    get:
      summary: Get work context
      description: Retrieves work context including studio policy and work mandate. Requires API key.
      operationId: getWorkContext
      tags: [Work]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkHash'
      responses:
        '200':
          description: Work context with policy and mandate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_WorkContext'
        '400':
          description: Invalid work ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedVersioned'
        '404':
          description: Work not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  /v1/work/{hash}/viewer:
    get:
      summary: Evidence DAG viewer
      description: |
        Returns an evidence DAG visualization for a work submission.
        - Default: Returns an HTML page with an interactive DAG viewer
        - `?format=json`: Returns the raw DAG data as JSON
      operationId: getEvidenceViewer
      tags: [Work]
      parameters:
        - $ref: '#/components/parameters/WorkHash'
        - name: format
          in: query
          description: Response format. Omit for HTML, use "json" for JSON.
          schema:
            type: string
            enum: [json]
      responses:
        '200':
          description: Evidence DAG (HTML or JSON depending on format parameter)
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_EvidenceViewer'
        '400':
          description: Invalid work ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '404':
          description: Work not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  # ===========================================================================
  # PUBLIC READ API — Studios
  # ===========================================================================

  /v1/studio/{address}/work:
    get:
      summary: Get pending work for studio
      description: Retrieves paginated list of pending work submissions for a studio.
      operationId: getStudioWork
      tags: [Studios]
      parameters:
        - $ref: '#/components/parameters/StudioAddress'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Pending work list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_StudioWork'
        '400':
          description: Invalid studio address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  /v1/studio/{address}/leaderboard:
    get:
      summary: Get studio leaderboard
      description: Retrieves the agent leaderboard for a studio, ranked by submission count and scores.
      operationId: getStudioLeaderboard
      tags: [Studios]
      parameters:
        - $ref: '#/components/parameters/StudioAddress'
      responses:
        '200':
          description: Studio leaderboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_Leaderboard'
        '400':
          description: Invalid studio address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  # ===========================================================================
  # PUBLIC READ API — Skills
  # ===========================================================================

  /v1/skills:
    get:
      summary: Discover available skills
      description: Returns a list of available agent skills with metadata and installation guides.
      operationId: listSkills
      tags: [Skills]
      responses:
        '200':
          description: Skills list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_Skills'

  # ===========================================================================
  # ENGINEERING — PR Ingestion
  # ===========================================================================

  /v1/engineering/pr:
    post:
      summary: Ingest a GitHub PR as work submission
      description: |
        Fetches PR data from GitHub, constructs DKG evidence from commits,
        and creates a work submission workflow.
      operationId: ingestPR
      tags: [Engineering]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PRIngestionRequest'
      responses:
        '201':
          description: Work submission created from PR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedResponse_PRIngestion'
        '400':
          description: Invalid PR URL or request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedVersioned'
        '502':
          description: GitHub API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'
        '503':
          description: PR ingestion not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionedErrorResponse'

  # ===========================================================================
  # PUBLIC READ API — Health (enhanced)
  # ===========================================================================

  # Note: public-api.ts also registers a /health route with enhanced fields
  # (version, chain, contracts), but it is shadowed by the /health in routes.ts
  # which is mounted first. The effective /health response is the one documented above.

  # ===========================================================================
  # ADMIN
  # ===========================================================================

  /admin/keys:
    post:
      summary: Generate a new API key
      operationId: createApiKey
      tags: [Admin]
      security:
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Human-readable name for the key
                  example: my-verifier
                role:
                  type: string
                  enum: [verifier, agent, internal]
                  default: verifier
                  description: Key role (defaults to verifier if omitted or invalid)
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    description: The full API key (only shown once)
                    example: cc_verifier_my_verifier_abc123def456
                  name:
                    type: string
                    example: my-verifier
                  role:
                    type: string
                    enum: [verifier, agent, internal]
                  message:
                    type: string
        '400':
          description: Invalid request (missing name)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminErrorResponse'
        '401':
          $ref: '#/components/responses/AdminUnauthorized'

    get:
      summary: List active API keys
      description: Returns active keys with name, role, prefix, and creation date. Full keys are never exposed.
      operationId: listApiKeys
      tags: [Admin]
      security:
        - AdminKeyAuth: []
      responses:
        '200':
          description: Active API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: my-verifier
                        role:
                          type: string
                          enum: [verifier, agent, internal]
                        created_at:
                          type: string
                          format: date-time
                        prefix:
                          type: string
                          description: First 20 characters of the key
                          example: cc_verifier_my_ve...
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/AdminUnauthorized'

  /admin/keys/{key}:
    delete:
      summary: Revoke an API key
      operationId: revokeApiKey
      tags: [Admin]
      security:
        - AdminKeyAuth: []
      parameters:
        - name: key
          in: path
          required: true
          description: The full API key to revoke
          schema:
            type: string
      responses:
        '200':
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/AdminUnauthorized'
        '404':
          description: Key not found or already revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminErrorResponse'

  /admin/seed-demo:
    post:
      summary: Seed demo workflow records
      description: Inserts demo workflow records for testing (3 sessions with different agents).
      operationId: seedDemo
      tags: [Admin]
      security:
        - AdminKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                studio_address:
                  type: string
                  pattern: '^0x[a-fA-F0-9]{40}$'
                  default: '0xA855F7893ac01653D1bCC24210bFbb3c47324649'
      responses:
        '201':
          description: Demo data seeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  seeded:
                    type: integer
                    example: 3
                  studio:
                    type: string
                    example: '0xA855F7893ac01653D1bCC24210bFbb3c47324649'
                  sessions:
                    type: array
                    items:
                      type: string
                    example:
                      - 'Devin (devin-session-001) → epoch 1'
                      - 'Claude Code (claude-code-session-001) → epoch 2'
                      - 'Cursor (cursor-session-001) → epoch 3'
                  query:
                    type: string
                    example: 'GET /v1/studio/0xA855F7893ac01653D1bCC24210bFbb3c47324649/work'
        '401':
          $ref: '#/components/responses/AdminUnauthorized'

# =============================================================================
# COMPONENTS
# =============================================================================

components:

  # ---------------------------------------------------------------------------
  # Security Schemes
  # ---------------------------------------------------------------------------

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for gated and write endpoints
    AdminKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Admin key for key management endpoints

  # ---------------------------------------------------------------------------
  # Reusable Parameters
  # ---------------------------------------------------------------------------

  parameters:
    WorkHash:
      name: hash
      in: path
      required: true
      description: 0x-prefixed bytes32 data hash (66 characters)
      schema:
        type: string
        pattern: '^0x[a-fA-F0-9]{64}$'
        example: '0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef'

    StudioAddress:
      name: address
      in: path
      required: true
      description: 0x-prefixed Ethereum address (42 characters)
      schema:
        type: string
        pattern: '^0x[a-fA-F0-9]{40}$'
        example: '0xA855F7893ac01653D1bCC24210bFbb3c47324649'

    Limit:
      name: limit
      in: query
      description: Number of results to return (1-100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    Offset:
      name: offset
      in: query
      description: Number of results to skip
      schema:
        type: integer
        minimum: 0
        default: 0

  # ---------------------------------------------------------------------------
  # Reusable Responses
  # ---------------------------------------------------------------------------

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: UNAUTHORIZED
              message:
                type: string
                example: Invalid or missing API key

    UnauthorizedVersioned:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VersionedErrorResponse'

    AdminUnauthorized:
      description: Missing or invalid admin key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdminErrorResponse'

    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: RATE_LIMIT_EXCEEDED

  # ---------------------------------------------------------------------------
  # Schemas
  # ---------------------------------------------------------------------------

  schemas:

    # ---- Shared field types ----

    EthereumAddress:
      type: string
      pattern: '^0x[a-fA-F0-9]{40}$'
      example: '0x1234567890123456789012345678901234567890'

    Bytes32:
      type: string
      pattern: '^0x[a-fA-F0-9]{64}$'
      example: '0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef'

    # ---- DKG Evidence ----

    DKGEvidencePackage:
      type: object
      required:
        - arweave_tx_id
        - author
        - timestamp
        - parent_ids
        - payload_hash
        - artifact_ids
        - signature
      properties:
        arweave_tx_id:
          type: string
          description: Arweave transaction ID for this evidence node
        author:
          type: string
          description: Address or identifier of the evidence author
        timestamp:
          type: number
          description: Unix timestamp in milliseconds
        parent_ids:
          type: array
          items:
            type: string
          description: Arweave tx IDs of parent evidence nodes (empty for roots)
        payload_hash:
          type: string
          description: SHA-256 hash of the evidence payload
        artifact_ids:
          type: array
          items:
            type: string
          description: File paths or identifiers of artifacts in this evidence node
        signature:
          type: string
          description: Cryptographic signature of the evidence

    # ---- Workflow Requests ----

    CreateWorkSubmissionRequest:
      type: object
      required:
        - studio_address
        - epoch
        - agent_address
        - data_hash
        - dkg_evidence
        - evidence_content
        - signer_address
      properties:
        studio_address:
          $ref: '#/components/schemas/EthereumAddress'
        epoch:
          type: integer
          minimum: 0
          description: Epoch number
        agent_address:
          $ref: '#/components/schemas/EthereumAddress'
        data_hash:
          $ref: '#/components/schemas/Bytes32'
        dkg_evidence:
          type: array
          items:
            $ref: '#/components/schemas/DKGEvidencePackage'
          minItems: 1
          description: Array of DKG evidence packages forming the evidence DAG
        evidence_content:
          type: string
          format: byte
          description: Base64-encoded evidence content
        signer_address:
          $ref: '#/components/schemas/EthereumAddress'

    CreateScoreSubmissionRequest:
      type: object
      required:
        - studio_address
        - epoch
        - validator_address
        - data_hash
        - scores
        - signer_address
      properties:
        studio_address:
          $ref: '#/components/schemas/EthereumAddress'
        epoch:
          type: integer
          minimum: 0
        validator_address:
          $ref: '#/components/schemas/EthereumAddress'
        data_hash:
          $ref: '#/components/schemas/Bytes32'
        scores:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 10000
          minItems: 1
          description: Array of dimension scores in basis points (0-10000)
          example: [8500, 9000, 8700, 9200, 8900]
        salt:
          $ref: '#/components/schemas/Bytes32'
        signer_address:
          $ref: '#/components/schemas/EthereumAddress'
        worker_address:
          allOf:
            - $ref: '#/components/schemas/EthereumAddress'
            - description: Required for direct mode — the worker being scored
        mode:
          type: string
          enum: [direct, commit_reveal]
          default: direct
          description: Scoring mode. Direct is simpler; commit_reveal prevents last-mover bias.

    CreateCloseEpochRequest:
      type: object
      required:
        - studio_address
        - epoch
        - signer_address
      properties:
        studio_address:
          $ref: '#/components/schemas/EthereumAddress'
        epoch:
          type: integer
          minimum: 0
          description: Epoch number to close
        signer_address:
          $ref: '#/components/schemas/EthereumAddress'

    # ---- Workflow Response ----

    WorkflowResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [WorkSubmission, ScoreSubmission, CloseEpoch, AgentRegistration, StudioCreation]
        state:
          type: string
          enum: [CREATED, RUNNING, STALLED, COMPLETED, FAILED]
        step:
          type: string
          description: Current step in the workflow
        created_at:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        progress:
          type: object
          additionalProperties: true
          description: |
            Step-specific progress data. Shape varies by workflow type:

            **WorkSubmission**: `dkg_thread_root`, `dkg_evidence_root`, `dkg_weights`,
            `arweave_tx_id`, `arweave_confirmed`, `arweave_confirmed_at`,
            `onchain_tx_hash`, `onchain_confirmed`, `onchain_block`, `onchain_confirmed_at`,
            `register_tx_hash`, `register_confirmed`, `register_confirmed_at`

            **ScoreSubmission (direct)**: `score_tx_hash`, `score_confirmed`, `score_block`, `score_confirmed_at`,
            `register_validator_tx_hash`, `register_validator_confirmed`, `register_validator_confirmed_at`

            **ScoreSubmission (commit-reveal)**: `commit_hash`, `commit_tx_hash`, `commit_confirmed`, `commit_block`, `commit_confirmed_at`,
            `reveal_tx_hash`, `reveal_confirmed`, `reveal_block`, `reveal_confirmed_at`,
            `register_validator_tx_hash`, `register_validator_confirmed`, `register_validator_confirmed_at`

            **CloseEpoch**: `preconditions_checked`, `preconditions_checked_at`,
            `close_tx_hash`, `close_confirmed`, `close_block`, `close_confirmed_at`
        error:
          type: object
          properties:
            step:
              type: string
            message:
              type: string
            code:
              type: string

    # ---- Error Responses ----

    ValidationErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Validation error message
          example: studio_address must be 42 characters

    VersionedErrorResponse:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        error:
          type: object
          properties:
            code:
              type: string
              example: INVALID_AGENT_ID
            message:
              type: string
              example: agentId must be a positive integer

    AdminErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: UNAUTHORIZED
        message:
          type: string
          example: Admin key required

    # ---- PR Ingestion ----

    PRIngestionRequest:
      type: object
      required: [pr_url]
      properties:
        pr_url:
          type: string
          description: GitHub PR URL
          example: https://github.com/owner/repo/pull/123
        studio_address:
          $ref: '#/components/schemas/EthereumAddress'
        task_type:
          type: string
          default: feature
        work_mandate_id:
          type: string
          default: generic-task

    # ---- Versioned Response Wrappers ----

    VersionedResponse_ReputationData:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          $ref: '#/components/schemas/ReputationData'

    VersionedResponse_AgentHistory:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            agent_id:
              type: integer
            entries:
              type: array
              items:
                $ref: '#/components/schemas/HistoryEntry'
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer

    VersionedResponse_WorkRecord:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          $ref: '#/components/schemas/WorkRecord'

    VersionedResponse_WorkEvidence:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            work_id:
              $ref: '#/components/schemas/Bytes32'
            dkg_evidence:
              type: array
              items:
                $ref: '#/components/schemas/DKGEvidencePackage'
            thread_root:
              type: string
              nullable: true

    VersionedResponse_WorkContext:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            work_id:
              $ref: '#/components/schemas/Bytes32'
            data_hash:
              $ref: '#/components/schemas/Bytes32'
            worker_address:
              $ref: '#/components/schemas/EthereumAddress'
            studio_address:
              $ref: '#/components/schemas/EthereumAddress'
            task_type:
              type: string
            studio_policy_version:
              type: string
            work_mandate_id:
              type: string
            evidence:
              type: array
              items:
                $ref: '#/components/schemas/DKGEvidencePackage'
            studioPolicy:
              type: object
              nullable: true
              description: Studio policy document
            workMandate:
              type: object
              nullable: true
              description: Work mandate document

    VersionedResponse_EvidenceViewer:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          $ref: '#/components/schemas/EvidenceViewerData'

    VersionedResponse_StudioWork:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            studio:
              $ref: '#/components/schemas/EthereumAddress'
            work:
              type: array
              items:
                $ref: '#/components/schemas/StudioWorkItem'
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer

    VersionedResponse_Leaderboard:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            studio:
              $ref: '#/components/schemas/EthereumAddress'
            entries:
              type: array
              items:
                $ref: '#/components/schemas/LeaderboardEntry'
            total:
              type: integer

    VersionedResponse_Skills:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            skills:
              type: array
              items:
                $ref: '#/components/schemas/Skill'

    VersionedResponse_PRIngestion:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            workflow_id:
              type: string
              format: uuid
            data_hash:
              $ref: '#/components/schemas/Bytes32'
            pr:
              type: object
              properties:
                repo:
                  type: string
                  example: owner/repo
                number:
                  type: integer
                title:
                  type: string
                author:
                  type: string
                merged:
                  type: boolean
                commits:
                  type: integer
                files_changed:
                  type: integer
            evidence_nodes:
              type: integer
            dkg:
              type: object
              properties:
                thread_root:
                  type: string
                evidence_root:
                  type: string
            studio_address:
              $ref: '#/components/schemas/EthereumAddress'

    # ---- Domain Models ----

    ReputationData:
      type: object
      properties:
        agent_id:
          type: integer
        trust_score:
          type: integer
          minimum: 0
          maximum: 100
        epochs_participated:
          type: integer
        quality_score:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        consensus_accuracy:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        last_updated_epoch:
          type: integer
          nullable: true
        evidence_anchor:
          type: string
          nullable: true
        derivation_root:
          type: string
          nullable: true
        network:
          type: string
          example: base-sepolia

    HistoryEntry:
      type: object
      properties:
        epoch:
          type: integer
          nullable: true
        studio:
          $ref: '#/components/schemas/EthereumAddress'
        role:
          type: string
          enum: [worker, verifier]
        evidence_anchor:
          type: string
          nullable: true
        derivation_root:
          type: string
          nullable: true
        submitted_at:
          type: string
          format: date-time
        work_id:
          $ref: '#/components/schemas/Bytes32'

    WorkRecord:
      type: object
      properties:
        work_id:
          $ref: '#/components/schemas/Bytes32'
        agent_id:
          type: integer
        studio:
          $ref: '#/components/schemas/EthereumAddress'
        epoch:
          type: integer
          nullable: true
        status:
          type: string
          enum: [pending, scored, finalized]
        consensus_score:
          type: number
          nullable: true
        evidence_anchor:
          type: string
          nullable: true
        derivation_root:
          type: string
          nullable: true
        submitted_at:
          type: string
          format: date-time

    StudioWorkItem:
      type: object
      properties:
        work_id:
          $ref: '#/components/schemas/Bytes32'
        data_hash:
          $ref: '#/components/schemas/Bytes32'
        agent_id:
          type: integer
        worker_address:
          $ref: '#/components/schemas/EthereumAddress'
        studio_address:
          $ref: '#/components/schemas/EthereumAddress'
        epoch:
          type: integer
          nullable: true
        submitted_at:
          type: string
          format: date-time
        evidence_anchor:
          type: string
          nullable: true
        derivation_root:
          type: string
          nullable: true
        studio_policy_version:
          type: string
        work_mandate_id:
          type: string
        task_type:
          type: string

    LeaderboardEntry:
      type: object
      properties:
        worker_address:
          $ref: '#/components/schemas/EthereumAddress'
        agent_id:
          type: integer
        submissions:
          type: integer
        avg_scores:
          type: array
          nullable: true
          items:
            type: number
          description: Average scores per dimension (basis points), null if unscored
        last_submitted:
          type: string
          format: date-time

    EvidenceViewerData:
      type: object
      properties:
        work_id:
          $ref: '#/components/schemas/Bytes32'
        worker_address:
          $ref: '#/components/schemas/EthereumAddress'
        studio_address:
          $ref: '#/components/schemas/EthereumAddress'
        nodes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Arweave transaction ID
              label:
                type: string
              type:
                type: string
                enum: [root, child, integration]
              artifacts:
                type: array
                items:
                  type: string
              timestamp:
                type: number
        edges:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
              to:
                type: string

    Skill:
      type: object
      properties:
        name:
          type: string
          example: chaoschain-engineering-studio
        description:
          type: string
        version:
          type: string
        files:
          type: array
          items:
            type: string
        install_guide:
          type: string
          format: uri
